[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon={{ ideaTargetDir }}/bin/idea.png
Exec="{{ ideaTargetDir }}/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
