[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon={{ appsDir }}/idea/bin/idea.png
Exec="{{ appsDir }}/idea/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
